@font-face
{
	font-family: chakra;
	src: url('./chakra.ttf');
}
.wrapper {
  height: 100vh;
  position: relative;
  text-align: center;
}

.typing-demo {
  width: 14.5ch;
  font-family: chakra; 
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
}
#age
{
  color: red !important;
}
@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
